body {
    background: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    background-color: #3232b3;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: lemonchiffon;
}

img {
    width: 250px;
}

.introduction {
    text-align: center;
    border: solid #3232b3 10x;
}

.each_pokemon_container {
    text-align: center;
}

#bulbasaur_container {
    border: solid white 2px;
    background-color: #00FF00;
    border-radius: 25px, ;
}

#charmander_container {
    border: solid white 2px;
    border-radius: 25px, ;
}